@model PaginatedList<Slider>;
@{
    ViewData["Title"]="Index";
    int count = (Model.Page-1)*3;
}

<div class="container-fluid mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Sliders</h1>
         <div>
             <a asp-area="manage" asp-controller="slider" asp-action="create" class="btn btn-success">Add slider</a>
         </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">FirstTitle</th>
                <th scope="col">SecondTitle</th>
                <th scope="col">RedirectUrl</th>
                <th scope="col">RedirectUrlText</th>
                <th scope="col">Order</th>
                <th scope="col">Img</th>
                <th scope="col">CRUD</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Slider slider in Model)
            {
                count++;
                <tr >
                    <th scope="row">@count</th>
                    <td>@slider.FirstTitle</td>
                    <td>@slider.SecondTitle</td>
                    <td>@slider.RedirectUrl</td>
                    <td>@slider.RedirectUrlText</td>
                    <td>@slider.Order</td>
                    <td>
                        <img style="width:120px" src="~/uploads/sliders/@slider.ImgUrl" alt="">
                    </td>
                    <td>
                        <a asp-controller="slider" asp-action="update" asp-route-id=@slider.Id class="btn btn-info">Update</a>
                        <a asp-controller="slider" asp-action="delete" asp-route-id=@slider.Id class="sliderDeleteBtn btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form method="get">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.HasPrevious)
                {
                    <li class="page-item"><a class="page-link" asp-controller="slider" asp-action="index" asp-route-page="@(Model.Page-1)">Previous</a></li>
                }
                @for (int i = 1; i <= Model.TotalPage; i++)
                {
                    <li class="page-item @(Model.Page==i ? "active" : "")"><a class="page-link" asp-controller="slider" asp-action="index" asp-route-page="@i">@i</a></li>

                }
                @if (Model.HasNext)
                {
                    <li class="page-item"><a class="page-link" asp-controller="slider" asp-action="index" asp-route-page="@(Model.Page+1)">Next</a></li>
                }
            </ul>
        </nav>
    </form>
</div>